main {
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}
header{
     text-align: center;
  padding: 20px;
  background-color: #2575fc;
  color: #666;
  font-size: 0.9em;
  border-top: 1px solid #ccc; 
}
.section {
  margin-bottom: 40px;
}

.section h2 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #2575fc;
}

.section p, .section ul {
  font-size: 1em;
  color: #555;
}

.section ul {
  list-style: disc;
  padding-left: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #2575fc;
  color: #666;
  font-size: 0.9em;
  border-top: 1px solid #ccc;
}
