body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
    background-color: skyblue;
    color: white;
}

header {
    background-color: rgb(109, 5, 83);
    padding: 40px;
    text-align: center;
}

section {
    padding: 20px;
    margin: 20px;
}

footer {
    background-color: rgb(241, 14, 185);
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}
