body{
    font-family: algerian;
    background-color:rgb(16, 146, 197);
    color: black;
    margin: 0;
    padding: 0;
}
header{
    background-color: navy;
    padding: 20px;
    text-align: center;
    color: azure;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline;
    margin: 0 10px;
}
nav ul li a{
    text-decoration: none;
    color: azure;
    font-weight: bold;
}
main{
    padding: 20px;
    text-align: center;
}
footer{
    background-color: navy;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: azure;
}
section{
   background-color: antiquewhite;
}
img{
    margin: 10px;
    border: 5px solid aqua;
    border-radius: 10px;
}
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
b{
color: navy;
}
